.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 52px;
    padding: 0 16px;

    strong {
        color: var(--primary);

        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.9);
        }
    }

    .headerTitle {
        text-decoration: none;
        font-size: 20px;
    }

    nav {
        display: flex;
        gap: 8px;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            color: var(--title);
            text-decoration: none;
            transition: color 0.2s;

            &:hover {
                color: var(--text);
            }
        }
    }
}

.cartLink {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cartIconContainer {
    position: relative;
    display: inline-flex;
}

.cartBadge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--red-500);
  color: white;
  border-radius: 50%;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}